.welcome {
  display: grid;
  grid-template-columns: minmax(310px, 460px) minmax(50%, auto);
  margin-top: 5.625rem;
  column-gap: 42px;
}
.wrapper {
  margin-top: 163px;
}

.svgContainer {
  display: flex;
  position: relative;
  max-width: 100%;
  justify-content: end;
  align-items: end;
  .logo {
    max-width: 100%;
  }
}

.h1{
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 130%;
  color: #fff;
}
