.welcome {
  display: flex;
  justify-content: space-between;
  margin-top: 5.625rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 0;
  margin: 0;
  row-gap: 42px;
}

.wrapper h2 {
  width: 310px;
  max-width: fit-content;
}

.wrapper p {
  grid-column: 1 / 4;
  width: fit-content;
  max-width: 460px;
}

.svgContainer {
  display: flex;
  max-width: max-content;
  width: 100%;
  justify-content: end;
  align-items: end;

  .logo {
    max-width: 100%;
    object-fit: fill;
  }
}

@media (max-width : 768px) {
  .welcome {
    flex-direction: column;
    align-items: center;
  }

  .svgContainer {
    margin-top: 100px;
  }
}

@media (max-width : 320px) {
  .welcome {
    flex-direction: column;
    align-items: center;

    .wrapper {
      text-align: center;
      justify-items: center;
      align-items: center;
    }
  }

  .svgContainer {
    margin-top: 100px;
  }
}