.general {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.small {
  font-size: 35px;
  letter-spacing: 2.1px;
}

.meddle {
  font-size: 44px;
  line-height: 130%;
}

.dark {
  color: var(--color-heading);
}

.white {
  color: #fff;
}
