.about {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto 430px;
  column-gap: 120px;
}
.wrapper {
  //   margin-top: 163px;
}

.svgContainer {
  display: flex;
  width: fit-content;

  // justify-content: end;
  // align-items: end;
  .logo {
    max-width: 100%;
  }
}

.h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 5.188rem;
  line-height: 130%;
  color: var(--color-heading);
  letter-spacing: 0.06em;
}
.background {
  background-color: var(--background-color-light);
  padding-top: 80px;
  padding-bottom: 100px;
}
