.h1 {
  font-family: "Georgia";
  width: 310px;
  font-style: normal;
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 130%;
  color: #fff;
}

.h2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 2.188rem;
  line-height: 130%;
  color: #ffff;
  letter-spacing: 0.06em;
}
